/* Estilização Header*/
.header-container{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(13, 13, 83);
align-items: center;
}
.navigation-header ul li{
  display: inline;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}
.navigation-header ul a{
 text-decoration:none;
 color: white;
 
}
.navigation-header ul li:hover{
  background-color: white;
  color: black;
  transition: 0.6s;
  
}
.logo-area h2{
  color: white;
  border-color: whitesmoke;
  border: 6px solid;
  padding: 6px;
  width: 60px;
}

/*Estilos Form */
.form-cadastro{
  position: absolute;
  right: 50%;
  top: 30%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
  align-items: center;
}
.form-cadastro .div-input{
  margin-top: 10px;
  width: 80%;
}
.form-cadastro div input{
  padding: none;
  text-align: justify;
  font-weight: bolder;
  color: rgb(39, 39, 39);
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5px solid rgb(0, 128, 128);
  height: 30px;
  
}
.botoes-cadastro{
  margin: 30px auto;
  position: relative;
  display: flex;
  flex-direction: row;

}
.botoes-cadastro div button{
  
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  border: 0px;
  color: rgb(0, 134, 134);
  background-color: rgb(190, 217, 228);
}
.botoes-cadastro div button:hover{
  background-color: rgb(48, 70, 78);
  color: white;
  transition: 0.6s;
}
/* Estilos tabela paciente */

.tabela-pacientes{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
}
.tabela-pacientes table{
  width: 100%;
 
}
.component-table table{
  width: 100%;
  text-align: left;
}
.linha-tabela{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
margin: 0px auto;
}
.linha-tabela div td{
width: 300px;
padding: 5px;
font-weight: bolder;
  color: rgb(39, 39, 39);
border-bottom: 2px solid rgb(6, 6, 75);
}
.linha-tabela-prop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0px auto;
  }
.linha-tabela-prop div td{
  width: 300px;
  font-weight: bolder;
  color: rgb(82, 82, 82);
  padding: 5px;
  border-bottom: 2px solid rgb(0, 128, 128);
}
/* Estilos Botoes */

.delete-button{
  position: absolute;
  right: 270px;
  z-index: 10px;
}
.edit-button{
  position: absolute;
  right: 180px;
  z-index: 10px;
}
/* Estilos modal-deletar e editar */

#modal-delete{
  height: 100vh;
  top: 178px;

  display: none;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.473);
  width: 100vw;
  z-index: 400px;
}
.model-container{
  
  background-color: white;
  width: 50%;
  height: 20%;
  margin: 10% auto;
  border-radius: 15px;
  z-index: 1000px;

}
#modal-editar{
  height: 100vh;
  top: 178px;
  display: none;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.473);
  width: 100vw;
  z-index: 400px;
}
/* Form-modal Editar */
.form-editar{
 display: flex;
 flex-direction: column;
}